html {
    background-color: #F8FBFB;
    font-family: "Outfit", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    font-family: "Outfit", sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.texto1 {
    display: flex;
    font-size: 160%;
    font-weight: 550;
    margin: 15px;
    margin-top: 60px;
    align-items: center;
    justify-content: center;
}



/* img {
    display: flex;
    justify-content: center;
} */

.ponto {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    background-color: #FFFFFF;
    filter: drop-shadow(0px 4px 120px rgba(58, 86, 78, 0.10));
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 96%;
    border-radius: 1rem;
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
    height: 4.625rem;
    position: fixed;
    bottom: 0;
}

.texto {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120%;
    font-weight: 450;
    padding: 15px;
}

.voltar {
    padding: 5px;
    border-radius: 15px;
    width: 375px;
    height: 46px;
    font-size: 20px;
    font-weight: 600;
    background-color: #FFC600;
    color: #FFFFFF;
    border: 0 none;
}
